.sitemap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sitemap-column {
    flex: 1 1 calc(33.333% - 10px); 
    margin: 5px;
}

.sitemap-column ul {
    list-style: none;
    padding-left: 0;
}

.sitemap-column li {
    margin-bottom: 8px;
}

.sitemap-column h2 {
    margin-bottom: 15px;
}
